* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #EE2761;
    --primary-text-color: #5F5B53;
}

/* ---------COMMON------------- */

.btn:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}



/* ---------HEADER------------- */
.header {
    background-color: #EE2761;
}

.header .nav-head {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0px;
    font-size: 1.2rem;
    cursor: pointer;
}

.header .nav-head .introduce ul {
    display: flex;

}

.header .nav-head .introduce ul li:first-child:hover {
    color: black;
}

.header .nav-head .introduce ul li:nth-child(2):hover {
    color: black;
}

.header .nav-head .introduce ul li:last-child:hover {
    color: black;
}


.nav-head .introduce ul li:nth-child(2) {
    margin: 0px 10px;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    padding: 0px 10px;

}

.header .nav-head .settings ul {
    display: flex;
}

.header .nav-head .settings ul li:first-child:hover {
    color: black;
}

.header .nav-head .settings ul li:last-child:hover {
    color: black;
}

.nav-head .settings ul li:nth-child(2) {
    margin-left: 10px;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.nav-head .active {
    display: flex;
}

.nav-head .active p {
    font-size: 1.2rem;
    margin-left: 5px;
}

.settings .active p {
    margin-right: 5px;
}


/* ---------BODY------------- */

/* ---------INFO-BODY-HEADER------------- */
.body-header .body-info .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-header .body-info {
    border-bottom: 2px solid #EAEAEA;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

/* BODY-LOGO */

.body-info .logo {
    display: flex;
    cursor: pointer;
}

.body-info .logo i {
    color: var(--primary-color);
}

.body-info .logo-title {
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 5px;
}

.body-info .logo-title:hover {
    color: var(--primary-color);
}

/* BODY-SEARCHING */

.body-info .searching {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    cursor: pointer;
}


.body-info .searching .all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    border: 2px solid #EAEAEA;
    height: 40px;
}

.body-info .searching .all:hover {
    color: black;
}

.body-info .searching .search {
    display: flex;
    align-items: center;
    padding: 0px 130px 0px 20px;
    border: 2px solid #EAEAEA;
    border-left: none;
    height: 40px;
}

.body-info .searching .search:hover {
    color: black;
}

.body-info .searching .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
}

.body-info .searching .btn:hover {
    color: black;
}

/* BODY-SETTINGS */
.body-info .info-settings {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    cursor: pointer;
}


.body-info .info-settings .acount {
    margin-left: 15px;
}

.body-info .info-settings .acount:hover {
    color: black;
}

.body-info .info-settings .acount i {
    padding-left: 30px;
    padding-bottom: 5px;
}

.body-info .info-settings .wish {
    margin-left: 15px;
}

.body-info .info-settings .wish:hover {
    color: black;
}

.body-info .info-settings .wish i {
    padding-left: 15px;
    padding-bottom: 5px;
}

.body-info .info-settings .cart {
    margin-left: 15px;
}

.body-info .info-settings .cart:hover {
    color: black;
}

.body-info .info-settings .cart i {
    padding-left: 12px;
    padding-bottom: 5px;
}

.info-settings .noti-wish {
    position: relative;
}

.info-settings .noti-wish .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 2px;
    top: -5px;
    right: 14px;

}


.info-settings .noti-cart {
    position: relative;
}

.info-settings .noti-cart .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 2px;
    top: -5px;
    right: 8px;
}

/* ---------BODY-NAVIGATION------------- */

.body-header .body-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

/* LEFT */

.body-header .body-nav .main-content {
    display: flex;
    justify-content: space-between;
}

.body-header .nav-list ul {
    display: flex;
}

.nav-list ul li {
    padding: 16px 30px 16px 0px;
}

.nav-list ul li:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    opacity: 0.8;
}

.body-header ul li a {
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

.body-header ul li a:hover {
    color: black;
}

/* RIGHT */

.body-header .body-nav .nav-info {
    display: flex;
    align-items: center;
}

.body-header .nav-info .desc {
    margin-left: 10px;
    color: var(--primary-text-color);
}

.body-header .nav-info .desc:hover {
    color: black;
    cursor: pointer;
}

.body-header .nav-info i {
    color: var(--primary-color);
}

/* ---------HERO---------- */

.hero {
    height: 500px;

}

.hero .hero-img {
    width: 100%;
    object-fit: cover;
    height: 500px;
    position: absolute;
}

.hero .hero-info {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    left: 357px;
    top: 200px;

}

.hero .hero-intro {
    color: var(--primary-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 15px;
}

.hero .hero-title {
    font-size: 3.7rem;
    font-weight: 500;
    text-align: center;
    line-height: 46px;
}

.hero .btn {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    background: var(--primary-color);
    padding: 10px 13px;
    margin-top: 25px;
    border-radius: 5px;
}

.hero .hero-desc {
    text-align: center;
    color: grey;
    padding-top: 20px;
}

.hero .hero-info .btn i {
    font-size: 1.2rem;
    padding-left: 5px;
}

/* ----------DISCOUNT------------- */
.disc-container {
    padding: 50px 0px;
}

.disc-container .main-content {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "men women1 women 2"
        "men bag ";
    gap: 20px;
}

.disc-container .disc-item .disc-intro {
    color: var(--primary-text-color);
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.disc-container .disc-item .disc-title {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
}


.disc-container .disc-item .disc-desc {
    display: inline-block;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 1.3rem;
}

.disc-container .disc-item .disc-desc:hover {
    opacity: 0.9;
    color: black;
}

.disc-container .disc-item .disc-desc i {
    color: var(--primary-color);
    padding-left: 5px;
}

.disc-container .disc-item .disc-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.disc-container .disc-item .disc-info {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 15px;
}

.disc-container .disc-item1 {
    grid-area: 'men';
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}

.disc-container .disc-item2 {
    grid-area: 'women1';
}

.disc-container .disc-item3 {
    grid-area: 'women2';
}

.disc-container .disc-item4 {
    grid-area: 'bag';
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* PRODUCTS */

.intro-seller {
    width: 100%;
    height: 200px;
}

.intro-product .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    padding: 30px 0px 40px 0px;
}

.intro-product .intro-title {
    font-size: 2.4rem;
    font-weight: 650;
    padding-bottom: 20px;
}

.intro-product .list-product ul {
    display: flex;
}

.intro-product ul li:nth-child(2) {
    padding: 0px 30px;
}

.intro-product ul li a {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}

.intro-product ul li:first-of-type a {
    color: var(--primary-color);
}

.intro-product .intro-img {
    width: 150px;
    padding-bottom: 15px;
}

/* List Product */

.list-product .main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 500px 500px;
    gap: 15px;

}

.list-product .product .list-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.list-product .product {
    display: block;
    position: relative;
}

.product .sale {
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 18px;
    color: #fff;
    font-size: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    padding: 4px 4px;
    border-radius: 5px 0px;
}

.product .product-info .intro {
    margin-top: 10px;
    color: var(--primary-text-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.product .product-info .title {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.product .product-info .desc {
    margin-top: 10px;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.product .product-info .desc .line {
    text-decoration: line-through;
}

.product .product-info .star {
    color: #FFC926;
    margin-top: 10px;
    cursor: pointer;
}

.product .icon {
    display: flex;
    margin-top: 15px;
    color: var(--primary-text-color);
}

.product .icon .add {
    display: flex;
    border: 0.5px solid var(--primary-text-color);
    font-size: 1.3rem;
    padding: 8px;
    text-align: center;
}

.product .icon .add:hover {
    color: var(--primary-text-color);
    cursor: pointer;
    background: var(--primary-color);
}

.product .icon .heart {
    margin-left: 8px;
    border: 0.5px solid var(--primary-text-color);
    padding: 8px;
}

.product .icon .heart:hover {
    color: var(--primary-text-color);
    cursor: pointer;
    background: var(--primary-color);
}

.product .icon .eyes {
    margin-left: 8px;
    border: 0.5px solid var(--primary-text-color);
    padding: 8px;
}

.product .icon .eyes:hover {
    color: var(--primary-text-color);
    cursor: pointer;
    background: var(--primary-color);
}

/* -------DEALS-------- */

.deals .main-content {
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.deals .main-content .deal-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.deals .deal-info {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 40px;
}

.deals .deal-info .intro {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.deals .deal-info .title {
    font-size: 2.5rem;
    font-weight: 650;
    margin-bottom: 20px;
}

.deals .deal-info .desc {
    color: var(--primary-text-color);
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.deals .deal-info .time {
    display: flex;
    margin-bottom: 50px;
}

.deals .deal-info .time .day {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 70px;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.deal-info .day .number {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.deals .deal-info .time .hour {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 70px;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.deal-info .hour .number {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 4px;

}

.deals .deal-info .time .min {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 70px;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.deal-info .min .number {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.deals .deal-info .time .sec {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 70px;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.deal-info .sec .number {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.deals .deal-info .btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;
    width: 200px;
    height: 50px;
    background: var(--primary-color);
    font-size: 1.6rem;
}

.deals .deal-info .btn i {
    padding-left: 10px;
}

/* LIST-SELLER */

.list-seller .main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 500px;
    gap: 15px;

}

.list-seller .seller .list-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.list-seller .seller {
    display: block;
    position: relative;
}

.seller .sale {
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 18px;
    color: #fff;
    font-size: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    padding: 4px 4px;
    border-radius: 5px 0px;
}

.seller .seller-info .intro {
    margin-top: 10px;
    color: var(--primary-text-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.seller .seller-info .title {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.seller .seller-info .desc {
    margin-top: 10px;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.seller .seller-info .desc .line {
    text-decoration: line-through;
}

.seller .seller-info .star {
    color: #FFC926;
    margin-top: 10px;
    cursor: pointer;
}

.seller .icon {
    display: flex;
    margin-top: 15px;
    color: var(--primary-text-color);
}

.seller .icon .add {
    display: flex;
    border: 0.5px solid var(--primary-text-color);
    font-size: 1.3rem;
    padding: 8px;
    text-align: center;
}

.seller .icon .add:hover {
    color: var(--primary-text-color);
    cursor: pointer;
    background: var(--primary-color);
}

.seller .icon .heart {
    margin-left: 8px;
    border: 0.5px solid var(--primary-text-color);
    padding: 8px;
}

.seller .icon .heart:hover {
    color: var(--primary-text-color);
    cursor: pointer;
    background: var(--primary-color);
}

.seller .icon .eyes {
    margin-left: 8px;
    border: 0.5px solid var(--primary-text-color);
    padding: 8px;
}

.seller .icon .eyes:hover {
    color: var(--primary-text-color);
    cursor: pointer;
    background: var(--primary-color);
}

/* ------------HERO-SELLER------------ */

.hero-seller .main-content .hero-item {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    column-gap: 20px;

}

.hero-seller .hero-item .item {
    position: relative;
}

.hero-seller .hero-item .item .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-seller .hero-item .item .item-info {
    position: absolute;
    top: 22px;
    left: 20px;
}

.hero-seller .item-info .intro {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.hero-seller .item-info .title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-seller .item-info .desc {
    text-decoration: underline;
    color: var(--primary-text-color);
    font-size: 1.6rem;
}

.hero-seller .item-info .desc:hover {
    color: var(--primary-color);
}

/* -------CLIENTS--------- */

.clients .main-content .clients-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 280px;
    column-gap: 15px;
}

.clients .clients-item .item {
    text-align: center;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.10);

}

.clients .clients-item .item .avatar {
    margin-top: 30px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--primary-text-color);
    cursor: pointer;
    margin-bottom: 15px;
}

.clients .clients-item .item .avatar:hover {
    opacity: 0.85;
}

.clients .clients-item .item .name {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.clients .clients-item .item .job {
    font-size: 1.6rem;
    color: var(--primary-text-color);
    margin-bottom: 15px;
}

.clients .clients-item .item .desc {
    font-size: 1.3rem;
    line-height: 1.4;
    color: var(--primary-text-color);
}

.clients .clients-item .item .star {
    color: #FFC926;
    font-size: 1.3rem;
    margin-top: 15px;
}


.page-icon .main-content {

    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding-bottom: 80px;
}

/* -------BOOTS-------- */

.boots .main-content {

    position: relative;
    height: 350px;
}

.boots .boots-info {
    position: absolute;
    top: 80px;
    left: 34px;
}

.boots .boots-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boots .boots-info .title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.boots .boots-info .desc {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5;
    padding-bottom: 20px;
}

.boots .boots-info .btn {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    width: 120px;
    height: 40px;
    background: var(--primary-color);
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.boots .boots-info .btn i {
    padding-left: 8px;
    font-size: 1rem;
}

/* -------BLOG ITEMS--------- */

.blog-item .main-content .blog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    grid-template-rows: 500px;
}

.blog-item .item .blog-img {
    display: block;
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 15px;
}

.blog-item .item .intro {
    color: var(--primary-text-color);
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.blog-item .item .title {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    padding-bottom: 20px;
    cursor: pointer;
}

.blog-item .item .btn {
    border: 0.5px solid var(--primary-text-color);
    color: var(--primary-text-color);
    padding: 5px 10px;
    border-radius: 2px;
}

.blog-item .item .btn:hover {
    background: var(--primary-color);
}

/* --------FOOTER------- */
.footer {
    background: #1d1c1c;
}

.footer .footer-container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr 2fr;
    grid-template-rows: 350px 120px;
    column-gap: 50px;
}

.footer-container .item6 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.footer .footer-info .title {
    font-size: 1.5rem;
    padding-top: 50px;
    position: relative;
    color: #eee7e2;
    margin-bottom: 20px;
}

.footer .footer-info .title::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 46px;
    height: 1.5px;
    background: #eee7e2;
    bottom: -10px;
    left: 0px;
}

/* ITEM1 */
.footer .item1 .footer-info .desc {
    color: #eee7e2;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 50px;
}

.footer .item1 .footer-info .invite {
    color: #eee7e2;
    font-size: 1.5rem;
    margin-top: 35px;
}

.footer .item1 .footer-info .icon {
    color: #eee7e2;
    margin-top: 15px;
    cursor: pointer;
}

.footer .item1 .footer-info .icon i:first-child:hover {
    color: var(--primary-color);
}

.footer .item1 .footer-info .icon i:nth-child(2):hover {
    color: var(--primary-color);
}

.footer .item1 .footer-info .icon i:nth-child(3):hover {
    color: var(--primary-color);
}

.footer .item1 .footer-info .icon i:last-child:hover {
    color: var(--primary-color);
}

.footer .item1 .footer-info .icon i {
    padding-right: 5px;
}

/* ITEM2 */
.footer .item2 .list1 ul {
    display: flex;
    flex-direction: column;
    color: #eee7e2;
}

.footer .item2 .list1 ul li {
    font-size: 1.3rem;
    padding-bottom: 10px;
    cursor: pointer;

}

.footer .item2 .list1 ul li:first-child {
    margin-top: 30px;
}

.footer .item2 .list1 ul li:first-child:hover {
    color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(2):hover {
    color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(3):hover {
    color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(4):hover {
    color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(5):hover {
    color: var(--primary-color);
}

.footer .item2 .list1 ul li:last-child:hover {
    color: var(--primary-color);
}

/* ITEM3 */
.footer .item3 .list2 ul {
    display: flex;
    flex-direction: column;
    color: #eee7e2;
}

.footer .item3 .list2 ul li {
    font-size: 1.3rem;
    padding-bottom: 10px;
    cursor: pointer;

}

.footer .item3 .list2 ul li:first-child {
    margin-top: 30px;
}

.footer .item3 .list2 ul li:first-child:hover {
    color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(2):hover {
    color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(3):hover {
    color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(4):hover {
    color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(5):hover {
    color: var(--primary-color);
}

.footer .item3 .list2 ul li:last-child:hover {
    color: var(--primary-color);
}

/* ITEM4 */

.footer .item4 .footer-info .insta-contain {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item4 .footer-info .insta-contain .item .insta-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* ITEM5 */

.footer .item5 .intro {
    margin-top: 50px;
    color: #eee7e2;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer .item5 .input {
    color: var(--primary-text-color);
    font-weight: 600;
    padding: 8px 20px 8px 5px;
    margin-bottom: 25px;
}

.footer .item5 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eee7e2;
    font-size: 1.6rem;
    font-weight: 600;
    width: 191px;
    height: 35px;
    padding: 10px 0px;
    background: #EE2761;
    display: inline-block;
    border-radius: 2px;
}

/* ITEM6 */
.footer .item6 .footer-info {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer .item6::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #eee7e2;
}

.footer .item6 .desc {
    color: #eee7e2;
    font-size: 1.3rem;
}

.footer .item6 .visa .visa-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: 30px;
    column-gap: 10px;

}

.visa .visa-item .visa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

